<a href="https://colab.research.google.com/github/mariabalaba/labs/blob/main/%D0%91%D0%B0%D0%BB%D0%B0%D0%B1%D0%B0_%D0%BB%D0%B0%D0%B1_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20 вариант (Латвия)

In [53]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd
from scipy import stats
import requests
from sklearn.preprocessing import MinMaxScaler

import matplotlib
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline

In [54]:
#Importing the data from the webpage into a DataFrame
url='http://pogoda-service.ru/archive_gsod_res.php?country=LG&station=264225&datepicker_beg=01.12.2010&datepicker_end=01.12.2020&bsubmit=Посмотреть'
req=requests.get(url)
data=pd.read_html(req.text)
df=data[0]

In [55]:
df

       ÐÐ°ÑÐ°  ...  Ð­ÑÑÐµÐºÑÐ¸Ð²Ð½Ð°Ñ ÑÐµÐ¼Ð¿ÐµÑÐ°ÑÑÑÐ°
0    01.12.2010  ...                                          -12.9
1    02.12.2010  ...                                          -14.9
2    03.12.2010  ...                                          -15.0
3    04.12.2010  ...                                          -11.1
4    05.12.2010  ...                                          -12.5
..          ...  ...                                            ...
995  22.08.2013  ...                                           15.9
996  23.08.2013  ...                                           13.9
997  24.08.2013  ...                                           12.3
998  25.08.2013  ...                                           12.2
999  26.08.2013  ...                                           14.8

[1000 rows x 8 columns]

In [56]:
#переименуем эти страшные названия, а лишние стобцы переименуем в drop, т.к. все равно будем их удалять
df.columns = ['Date', "Max", 'Min', 'Average', 'drop', 'drop2', 'drop3', 'drop4']

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1000 non-null   object
 1   Max      999 non-null    float64
 2   Min      999 non-null    float64
 3   Average  1000 non-null   float64
 4   drop     0 non-null      float64
 5   drop2    1000 non-null   int64
 6   drop3    370 non-null    float64
 7   drop4    1000 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 62.6+ KB

In [58]:
#удаляем лишние столбцы
df.pop('drop')
df.pop('drop2')
df.pop('drop3')
df.pop('drop4')
df.pop('Min')
df.pop('Max')

0      -6.0
1      -8.0
2      -7.0
3      -3.0
4      -4.0
       ...
995    21.0
996    19.0
997    19.0
998    19.0
999    21.0
Name: Max, Length: 1000, dtype: float64

In [59]:
df.head()

         Date  Average
0  01.12.2010     -9.1
1  02.12.2010     -9.7
2  03.12.2010     -9.2
3  04.12.2010     -5.7
4  05.12.2010     -5.8

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1000 non-null   object
 1   Average  1000 non-null   float64
dtypes: float64(1), object(1)
memory usage: 15.8+ KB

In [61]:
#переводим тип object в datetime
df['Date'] = pd.to_datetime(df['Date'], format = '%d.%m.%Y')

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1000 non-null   datetime64[ns]
 1   Average  1000 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 15.8 KB

In [63]:
df.describe()

           Average
count  1000.000000
mean      6.631200
std       9.808545
min     -24.500000
25%      -0.200000
50%       6.900000
75%      15.125000
max      26.200000

In [64]:
#подготовка данных для нормализации
values = df.Average
values = values.values.reshape(-1,1)
#обучающая нормализация
scaler = MinMaxScaler(feature_range=(0,1))
scaler = scaler.fit(values)
print('Min: %f, Max: %f' %(scaler.data_min_, scaler.data_max_))
#нормализация набора данных и печать первых 5
normalized = scaler.transform(values)
for i in range(5):
  print(normalized[i])
#обратное преобразование и печать первых 5 строк
inversed = scaler.inverse_transform(normalized)
for i in range(5):
  print(inversed[i])

Min: -24.500000, Max: 26.200000
[0.30374753]
[0.29191321]
[0.30177515]
[0.37080868]
[0.36883629]
[-9.1]
[-9.7]
[-9.2]
[-5.7]
[-5.8]

In [65]:
from math import sqrt
from sklearn.preprocessing import StandardScaler
from matplotlib import pyplot

#подготовка данных для нормализации
values = df.Average
values = values.values.reshape(-1,1)

#обучающая нормализация
scaler = StandardScaler()
scaler = scaler.fit(values)
print('Mean: %f, StandardDeviation: %f' %(scaler.mean_, sqrt(scaler.var_)))

#нормализация набора данных и печать первых 5
normalized = scaler.transform(values)
for i in range(5):
  print(normalized[i])
#обратное преобразование и печать первых 5 строк
inversed = scaler.inverse_transform(normalized)
for i in range(5):
  print(inversed[i])

Mean: 6.631200, StandardDeviation: 9.803639
[-1.60462857]
[-1.66583034]
[-1.61482887]
[-1.25781859]
[-1.26801889]
[-9.1]
[-9.7]
[-9.2]
[-5.7]
[-5.8]

# Итог проделанной работы

In [66]:
summ = pd.DataFrame({
    "Min" : [-24.500000],
    "Max" : [26.200000],
    'Mean' : [6.631200],
    'Std' : [9.803639]
})

summ

    Min   Max    Mean       Std
0 -24.5  26.2  6.6312  9.803639